.hero{
  background-image: url('../assets/herocolors2.png');
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* animation: zoom 40s infinite; */
}
.logo{
  position: relative;
  left: 5px;
  top: 70px;
}
.hero h1{
  margin-top: 10vh;
  animation: zoom 4s infinite;
  font-size: 4rem;
  text-shadow: 5px 5px 8px black;
  transform: rotateY(3deg);
}
.github{
  font-size: 8rem;
}
.musicIcon{
  font-size: 4rem;
  color: rgb(47, 140, 187);
  position: absolute;
  right: 0;
}
@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  35%,
  50% {
    transform: scale(1.4) rotateZ(-9deg);
  }
  75%,
  100%{
    transform: scale(0.9);
  }
  
}
.burger {
  display: none;

}
/*RESPONSIVE*/

@media only screen and(min-width:1050px) and  (max-width:1350px) {
  .hero{
    height: 80vh;
    width: 100%;
  }
  .logo{
    position: relative;   
  }
  .hero h1{
    font-size: 3.5em;
  }
  .github{
    font-size: 5em;
  }
  .musicIcon{
    font-size: 2em;
  }  
}
@media only screen and (min-width:678px) and (max-width: 1048px) {
  .hero{
    height: 20vh;
    width: 100%;
  }
  .logo{
    position: relative;  
  }
  .hero h1{
    font-size: 2.5em;
  }
  .github{
    font-size: 5em;
    right: 45px; 
    margin-top: -25px;
  }
  .musicIcon{
    font-size: 1.5rem;
    margin-top: -25px;
  }
}

@media only screen and (max-width:600px){
  .logo{
    position: relative;  
  }
  .hero h1{
    font-size: 2.5em;
  }
  .github{
    font-size: 3.5em;
    right: 40px; 
    margin-top: -5px;
  }
  .musicIcon{
    font-size: 1.5em;
    margin-top: -5px;
  }
  #root{
    overflow-x: hidden;
  }
  .burger {
    display: block;
    font-size: 2rem;
    margin: 3px 0;
    position: absolute;
    /* top: 100px; */
    left: 10px;
    color:white;
  }
  .navMenu{
    position: relative;
    top: 6vh;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
    align-items: center;
    padding: 2vh;
    transform: translateX(-100%);
    transition: all ease 0.3s;
  }
  .links{
    flex-direction: column;
  }
  .activeNav{
    transform: translateX(0%);
  }

  /* .navMenu div{
    flex-direction: column-reverse;
  }
  */
  /* nav {
    position: relative;
    display: block;
    width: 100%;
    height: 10vh;
    z-index: 2;
  } */
}

