.hero{
  background-image: url('../assets/herocolors2.png');
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* animation: zoom 40s infinite; */
}
.logo{
  position: relative;
  left: 5px;
  top: 70px;
}
.hero h1{
  margin-top: 10vh;
  animation: zoom 4s infinite;
  font-size: 4rem;
  text-shadow: 5px 5px 8px black;
  transform: rotateY(3deg);
}
.github{
  font-size: 8rem;
}
.musicIcon{
  font-size: 4rem;
  color: rgb(47, 140, 187);
  position: absolute;
  right: 0;
}
@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  35%,
  50% {
    transform: scale(1.4) rotateZ(-9deg);
  }
  75%,
  100%{
    transform: scale(0.9);
  }
}
/*RESPONSIVE*/
@media only screen and (max-width:920px) {
  .hero{
    height: 55vh;
    width: 100%;
  }
  .logo{
    position: relative;   
  }
  .hero h1{
    font-size: 3.5em;
  }
  .github{
    font-size: 5em;
  }
  .musicIcon{
    font-size: 2em;
  }


}
@media only screen and (max-width:768px) {
  .hero{
    height: 40vh;
    width: 100%;
  }
  .logo{
    position: relative;  
  }
  .hero h1{
    font-size: 2.5em;
  }
  .github{
    font-size: 4.5em;
    right: 45px; 
    margin-top: -25px;
  }
  .musicIcon{
    font-size: 1.5rem;
    margin-top: -25px;
  }
}