.navBar{
  background-image: url('../assets/guithoriz.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15vh;
  /* padding: 2vh ; */
  color: whitesmoke;
  border-bottom: solid 2px rgba(245, 245, 245, 0.349);
  background-color: rgb(12, 12, 12);
}

.navLinks{
  color: whitesmoke;
  margin: 2vw;
  text-decoration: none;
}
.navBarLogo{
  margin-left: 4vw;
  position: relative;
}
.navGithub{
  font-size: 3rem;
}
.navMusicIcon{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  color: rgb(47, 140, 187);
  
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}

.iconUser {
  width: 5vw;
  height: 7vh;
}
.userPic{
  width: 5vw;
  height: 7vh;

}

.signOut{
  cursor: pointer;

}
@media only screen and  (max-width:600px){
  .links {
    float: none;
    width:100%
  }
  .iconUser {
    width: 5vw;
    height: 7vh;
    background-color: violet;
  }
}