.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 2vh ; */
  color: whitesmoke;
  border-bottom: solid 2px rgba(245, 245, 245, 0.349);
  background-color: rgb(12, 12, 12);
}

.navLinks{
  color: whitesmoke;
  margin: 2vw;
  text-decoration: none;
}
.navBarLogo{
  margin-left: 4vw;
  position: relative;
}
.navGithub{
  font-size: 3rem;
}
.navMusicIcon{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  color: rgb(47, 140, 187);

}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconUser {
  width: 5vw;
  height: 7vh;
}
