.navBar{
  background-image: url('../assets/guithoriz.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  color: whitesmoke;
  border-bottom: solid 2px rgba(245, 245, 245, 0.349);
  background-color: rgb(12, 12, 12);
}

.navLinks{
  color: whitesmoke;
  margin: 2vw;
  text-decoration: none;
}
.rs-btn-toolbar{
  margin-right: 12px;
}
#root > nav > div > div.navBarLogo > div > div > div > svg{
  width: 1.4rem;
}
.navBarLogo{
  margin-left: 4vw;
  position: relative;
  display: flex;
  align-items: center;
}
.navGithub{
  font-size: 3rem;
}
.navMusicIcon{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(47, 140, 187); 
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
}
.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  background-color:rgba(12, 12, 12) ;
  height: 5vh;
  border-bottom: solid 2px rgba(245, 245, 245, 0.349);
}
.iconUser {
  width: 5vw;
  height: 7vh;
}
.userPic{
  min-width: 50px;
  min-height: 50px;
}
.signOut{
  cursor: pointer;
}
.userLoggedNav{
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}
@media only screen and (max-width:600px) {
  .hero{
    height: 40vh;
  }
  #root{
    overflow-x: hidden;
  }
  .burger {
    display: block;
    font-size: 2rem;
    /* margin: 3px 0; */
    position: absolute;
    top: 35%;
    right: 3rem;
    color:white;
  }
  .navHeader {
    position: relative;
    background-color: rgba(12, 12, 12);
    width: 100%;
    height: 20vh;
    z-index: 2;
  } 
  .navMenu{
    position: absolute;
    top: auto;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2vh; */
    transform: translateX(-150%);
    transition: all ease 0.3s;
  }
  .navMenu div{
    flex-direction: column-reverse;
  }
  .activeNav{
    transform: translateX(0%);
  }
 .header{
  /* flex-direction: row!important; */
  justify-content: center;
  height: 20vh;
  width: auto;
  }
  .hero h1{
    font-size: 1.5em;
  }
  .userLoggedNav{
    display: none;
  }
}