.productsByCategory{
    width:100%;
    background-image: url(../assets/fondo.jpeg);
    min-height: 80vh;

}
.productsList{
    min-width:100%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categoryHeader{
    display: flex;
    flex-direction: column;
}
.categoryTitle{
    text-align: center;
    font-size: 3em;
    padding:2%;
    color:white
}
.order{
    align-self: flex-end;
    width:15vw;
    margin-right: 5vw;
   
    
 
}

.productContainer{
    position:relative;
   border: 2px solid rgba(6, 135, 200, 0.801);
   border-radius: 8px;
   width:18vw;
   margin:2%;
   display:flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 5px 5px 20px rgba(6, 135, 200, 0.801);
   transition: all ease 0.3s;
   height: 56vh;
}
.productContainer:hover{
    transform: scale(1.06);
    border: solid 2px rgb(255, 123, 0);
    color:rgb(255, 123, 0);
    box-shadow: 5px 5px 20px rgba(255, 213, 77, 0.507);
    }

.productTitle{
    height: 5em;
    font-size: 0.9em;
    max-width: 95%;

}
.productPic{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: 60%;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
}
.productPrice{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;

}
.priceContainer{
    width:60%;
    display:flex;
    justify-content: space-between;
}
.iconCart{
    display: flex;
    margin-right: 2vw;
    cursor:pointer;
    font-size: 1.8em;
}
.iconCart:hover{
    opacity: 0.6;
}
.addContainer{
    width:40%;
    height:5vh;
}
.add{
    background-color:rgb(255, 123, 0);
    color:white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    padding: 1% 2%;
    position:absolute;
    width:8vw;
    min-height:3.5em;
    z-index: 5555

}
.add:hover{
    opacity:1!important
}
.noResults{
    background-color:white;
    border: 2px solid rgba(6, 135, 200, 0.801);
    border-radius: 8px;
    padding:6%;
    margin:auto;
    margin-top: 6%;
<<<<<<< HEAD
=======
    background-image:url("../assets/bata.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:60vw;
    height:30vh;


}
.noResults p{
    background-color:rgb(12,12,12);
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;


>>>>>>> 1ace33444b8ab7c40cdb2394e834e868dad62e6c
}

.cardBottom{
    min-width: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    padding: 1vh 1vw;
    color: white;
    min-height: 40%;
}



/* .backBtnCategory{
    width: 12.5vw;
    background-color: #1572b4;
    color: whitesmoke;
    margin: 0.2vw;
    box-shadow: 5px 5px 20px rgba(6, 135, 200, 0.801);
    border: 2px solid rgba(6, 135, 200, 0.801);
} */
/*RESPONSIVE*/
@media only screen and (max-width:600px) {
     .productsList{
        width:90%;
    }
    .categoryTitle{
        font-size: 3em;
        padding:2%;
        margin-bottom: 2.5vh;
    }
    .productContainer{
      min-width:50%;
       margin:2%;
       height: 58vh;
    }
    
    .productTitle{
        font-size: 0.8em;
        height: 6em;
    }
    .productPic{
        width:100%;
        height: 60%;
    }
    .productPrice{
        width:100%;
        margin-bottom: 5%;
    
    }
    .priceContainer{
        width:50%;
        display:flex;
        justify-content: space-between;
    }
    .iconCart{
        margin-right: 2vw;
        font-size: 1.8em;
    }
    .addContainer{
        width:50%;
        height:5vh;
    }
    .add{
        font-size: 0.8em;
        padding: 1% 2%;
        width:18vw
     
    
    }
    .noResults{
        border-radius: 8px;
        padding:6%;
        margin-top: 6%;
    
    }
    .cardBottom{
        width: 100%;
        padding: 1vh 1vw;
        height: 40%;
    }

  }
