.mainSingleProduct{
    background-color: rgba(128, 128, 128, 0.61);
    padding: 2vw;
}

.mainSingleContainer{
    background-color: white;
    border-radius: 4px;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.leftSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    height: 80%;
}

.lateralPic{
    width: 7vw;
    margin: 0.2vw;
    border-radius: 4px;
    border: 1px solid blue;
}

.middleSection{
    width: 58%;
    padding: 1vw;
}

.mainPic{
    width: 90%;
}

.rightSection{
    padding: 1vw;
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 3px;
    width: 30%;
    height: 97vh;
}

.singleProductName{
    font-size: 2vw;
}
.singleTextBlue{
    color: blue;
    font-size: 1.3vw;
    font-weight: 500
}

.singleHeart{
    height: 2vw;
    width: 2vw;
    margin: 0.5vw
}

.singleButtons{
    padding: 2vw;
}

.singleButton{
    align-self: center;
}

.singleSimpleText{
    text-decoration: underline;
    font-size: 1.3vw;
}

.descriptionContainer{
    background: yellow;
    width: 100%;
    padding: 1vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.liDescription{
    padding: 1vw;
    background-color: yellowgreen;
}

